body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#chart {
    margin: 20px auto;
    max-width: 960px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: auto; 
}

h1 {
    color: #333;
    word-wrap: break-word;
    text-align: center; 
    margin: 0;
    width: 100%; 
}