body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.app-bar {
    width: 100%;
    background-color: #ce60cc;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    height: 80px;
    margin-right: 1rem;
}

.app-bar-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 1rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); 
}

.counter-container {
    text-align: center;
    background: rgb(222, 187, 198);
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.counter-container h1 {
    font-size: 2em;
    color: #120f12;
}

#counter {
    font-size: 4em;
    margin: 20px 0;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    font-size: 1.5em; 
    padding: 15px 30px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #ddd;
}

#increase-btn {
    background-color: #5fff67; 
    color: white;
}

#decrease-btn {
    background-color: #fc00b1; 
    color:white
}

#reset-btn {
    background-color: #9ecbf0; 
    color: white;
}
